h1 {
    text-align: center;
}

td {
    border: 1px solid black;
    height: 2rem;
    width: 2rem;
    font-size: 0;
    background-color:#b9b9b9;
    padding:0;
    margin: 0;
}
img {
    padding: 0;
    margin: 0;
}
table {
    border-spacing: 0;
}
.logo {
    width:15rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.board {
    text-align: center;
    margin: 2rem 20rem;
    background-color: rgb(148, 167, 167);
    height: 45rem;
    border: 3px solid black;
}

.settings {
    border: 3px solid black;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
}

.newGame {
    border: 3px solid black;
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
}

.hidden {
    display: none;
}

.mineTable {
    margin: 5rem auto 0 auto;
    border-collapse: collapse;
}

.cellImage {
    height: 2rem;
    width: 2rem;
}

.hidden {
    display: none;
}

.visible {
    display:inline;
}

.gameOver {
    color: red;
    font-family: 'Common Pixel', sans-serif;
    font-size: 2.5rem;
}

.endCell {
    background-color:red;
}

.youWin {
    color: green;
    font-family: 'Common Pixel', sans-serif;
    font-size: 2.5rem;
}