h1 {
    text-align: center;
}

a {
    padding:0;
    margin:0;
    text-decoration: none;
}

td {
    border: 1px solid black;
    height: 2rem;
    width: 2rem;
    font-size: 0;
    background-color:#b9b9b9;
    padding:0;
    margin: 0;
}
img {
    padding: 0;
    margin: 0;
}
table {
    border-spacing: 0;
}
.logo {
    width:15rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.board {
    text-align: center;
    position:relative;
    margin: 2rem 20rem;
    background-color: rgb(148, 167, 167);
    height: 45rem;
    border: 3px solid black;
}

.settings {
    border: 3px solid black;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
}

.newGame {
    border: 3px solid black;
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
}

.hidden {
    display: none;
}

.displayTable {
    border: 1rem solid #b9b9b9;
}

.borderGhost {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border: 0.2rem outset;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #b9b9b9;
    border-right-color: #b9b9b9;
}

.mineTable {
    border-collapse: collapse;
}

.cellImage {
    height: 2rem;
    width: 2rem;
}

.hidden {
    display: none;
}

.visible {
    display:inline;
}

.gameOver {
    color: red;
    font-family: 'Common Pixel', sans-serif;
    font-size: 2.5rem;
}

.endCell {
    background-color:red;
}

.youWin {
    color: green;
    font-family: 'Common Pixel', sans-serif;
    font-size: 2.5rem;
}

.homeButton {
    font-family: Arial, sans-serif;
    margin: 2rem auto;
    background-color: #f0f0f0;
    font-size: 1.5rem;
    color: black;
    border: 3px solid black;
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
}

.center {
    margin: auto;
}

.endScreen {
    position:absolute;
    border: 3px solid black;
    width: 40rem;
    background-color: #94a7a7;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding-top:3rem;
    padding-bottom:3rem;
}

.timer {
    padding:0.5rem;
    margin-left: auto;
    display: inline-block;
}
.timerCell {
    height:3rem;
}
.flagCount {
    padding:0.5rem;
    display: inline-block;
}
.flagCountCell {
    height:3rem;
}
.statusCell {
    width:3rem;
}
.status {
    padding:0.5rem;
}

.dataCell {
    height: 5rem;
    border: 0.2rem inset;
    border-top-color: #b9b9b9;
    border-left-color: #b9b9b9;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
}

.borderCell {
    height:0;
    border: 0.5rem solid #b9b9b9;
}