h1 {
    text-align: center;
}

.logo {
    width:15rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.board {
    text-align: center;
    margin: 2rem 20rem;
    background-color: rgb(96, 110, 110);
    height: 40rem;
    border: 3px solid black;
}

.settings {
    border: 3px solid black;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
}

.newGame {
    border: 3px solid black;
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
}